streamlit>=1.30
openai
nltk
PyPDF2
python-docx
python-dotenv
scikit-learn
pandas
numpy
sentence-transformers 
openai
os

#to create virtual environment : 
#python -m venv venv
#source venv/bin/activate  # or venv\Scripts\activate on Windows
#pip install -r requirements.txt
